<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Calculator</title>
</head>
<body>
	<h1>Calculator</h1>
	<form action="/" method="post">
		<p>
			<label for="a">a</label>
			<input type="text" id="a" name="a"/>
		</p>
		<p>
			<label for="b">b</label>
			<input type="text" id="b" name="b"/>
			
		</p>

		<div>
			<input type="radio" name="operation" id="+" value="+" checked="checked"/>
			<label for="+">+</label>
			<input type="radio" name="operation" id="-" value="-"/>
			<label for="-">-</label>  
			<input type="radio" name="operation" id="*" value="*"/>
			<label for="*">*</label>
			<input type="radio" name="operation" id="/" value="/"/>
			<label for="/">/</label>  
		</div>
		<p>
			<input type="submit" value="Count"/>
		</p>
		



	</form>
</body>
</html>